name: Release

on:
  release:
    types: [ published ]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write

jobs:
  build-release:
    name: Build Release
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        include:
          - os: ubuntu-latest
            artifact_name: keyboard-cursor
            asset_name: keyboard-cursor-linux
          - os: windows-latest
            artifact_name: keyboard-cursor.exe
            asset_name: keyboard-cursor-windows.exe

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - name: Build Release
        run: cargo build --release

      - name: Upload Binaries
        uses: softprops/action-gh-release@v2
        with:
          files: target/release/${{ matrix.artifact_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
